<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pokedex.com.sept.lozada.pokedex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pokemon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".MoveActivity"
            android:label="Poke Moves">
        </activity>

        <activity android:name=".ItemActivity"
            android:label="Poke Items">
        </activity>

        <activity android:name=".GenerationActivity"
            android:label="Poke Generations">
        </activity>

        <activity android:name=".PokedexActivity"
            android:label="Pokedex">
        </activity>


    </application>


</manifest>